# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Mylog/.vs/mylog/v16/.suo
Mylog/.vs/mylog/v16/Browse.VC.db
Mylog/.vs/mylog/v16/ipch/AutoPCH/7f1beb263bb20dab/MAIN.ipch
Mylog/.vs/mylog/v16/ipch/AutoPCH/cbe36e163e91280c/LOG.ipch
Mylog/Debug/Log.obj
Mylog/Debug/main.obj
Mylog/Debug/mylog.exe
Mylog/Debug/mylog.ilk
Mylog/Debug/mylog.log
Mylog/Debug/mylog.pdb
Mylog/Debug/mylog.tlog/CL.command.1.tlog
Mylog/Debug/mylog.tlog/CL.read.1.tlog
Mylog/Debug/mylog.tlog/CL.write.1.tlog
Mylog/Debug/mylog.tlog/link.command.1.tlog
Mylog/Debug/mylog.tlog/link.read.1.tlog
Mylog/Debug/mylog.tlog/link.write.1.tlog
Mylog/Debug/mylog.tlog/mylog.lastbuildstate
Mylog/Debug/vc142.idb
Mylog/Debug/vc142.pdb
Mylog/mylog.vcxproj
Mylog/mylog.vcxproj.filters
Mylog/mylog.vcxproj.user
Mylog/UpgradeLog.htm
